<html>
<body>
<center>
<h1> Safe note sharing app</h1>
<p> Login here </p>
<form action={{ url_for('login') }} method="post">
  <label for="username">Username: </label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password: </label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Login"><br>
</form>
<p> Don't have an account? Click below </p>
<form action={{ url_for('register') }}>
  <input type="submit" value="Register">
</form>
</center>
</body>
</html>